:root {
	font-size: 16px;

	--primary-font: 'Oxanium', sans-serif;
	--secondary-font: 'Roboto', serif;

	--primary-color: ;
	--secondary-color: ;

	--primary-bg: ;
	--secondary-bg: ;
}

body{
	margin:0;
	padding: 0;
	color: var(--primary-color);
	background-color: var(--primary-bg);
}

h1,h2 {
	font-family: var(--primary-font);
}

p{
	font-family: var(--secondary-font);
}

.container{
	display:flex;
	margin: auto -1rem 1rem;
}

.col{
	margin: 0 0.5rem 0 0.5rem;
	padding: 1rem;
}

.sidebar{
	flex: 1;
}

.main{
	border-left: black solid;
	flex: 3
}

.navbar-nav{
	list-style: none;
}

.titulo{
	padding-block-start: 0.67em;
    padding-block-end: 0.67em
	margin: 0 1rem;
	border-bottom: black solid;
}

.nav-img{
	width: 100px;
	margin: 2% 0;
	padding-inline-start: 40px;
}
.nav-item{
	margin: 3% 0;
	text-decoration: none;
	font-size: 16px;
}

section h2{
	text-indent: 2rem;
}

section p{
	text-align: justify;
	text-indent: 4rem;
}