:root{
	--backgroud-light: #CDF7F6;
	--backgroud-dark: #2F323A;	

	--colour-primary: #9B5094;
}

* {
	margin: 0;
	padding: 0;
}


h1{
	color: var(--colour-primary);
}

#thirdDiv{
	height: 600px;
	width: 500px;
	background-color: var(--backgroud-light);
	padding: 50px;
	border: 10px var(--backgroud-dark) solid;
}

#spanId{
	font-size: 18px;
	margin: 50px;

}

img{
	width:400px;
}